<!DOCTYPE html>
<html>
    <head>

<title>{% if page.title %} {{ page.title }} {% endif %}</title>

       	<meta charset="utf-8"/>
	<link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/syntax.css">
	<link rel="icon" href="/image/skull_logo.png"/>

        <meta name="description" content="My Own Website">
        <meta name="Content" content="html,css,javascript">
        <meta name="author" content="Ankan Biswas">
        
<link href='http://fonts.googleapis.com/css?family=Lusitana' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Joti+One' rel='stylesheet' type='text/css'>

    </head>

    <body>

        <div class="header">
<table>
<tr>
<th style="border:2px solid black;padding:0 2px 0 2px;" width="19px" height="19px"><a href="/"><img src="/image/skull_logo.png" width="19px" height="19px" /></a></th>
<th><a href="/">ABOUT</a></th>
<th><a href="/blog/">BLOG</a></th>
<th><a href="/project/">PROJECT</a></th>
<th width="100%" style="border:none"></th>
<th style="padding:3px 10px 3px 10px;border:2px solid black;"><a href="https://www.facebook.com/calisto.xliberty">f</a></th>
<th style="border:2px solid black;"><a href="https://plus.google.com/117032766102818479097">g+</a></th>
<th style="padding:3px 10px 3px 10px;border:2px solid black;"><a href="https://twitter.com/talk2ankan">t</a></th>

</tr>
</table>          
          </div>

<div class="wapper">
	<div class="content">
<br/>
{{ content }}
	</div>
</div>

          <div class="footer">
<br/>
<br/>
<br/>
SOME RIGHTS RESERVED (c) 2014 ANKAN BISWAS.
<p>I&hearts;YOU=PIKA</p>           
        </div>

    </body>
</html>
